/***** Lizz Moraal - 22 mei 2020 - Web animatie   ********************************************/

/*********************************************************************************************/
/********************************   HTML styles  **********************************************/
/*********************************************************************************************/


body{
    font-family: 'Raleway', sans-serif;
    margin:0 17.5%;
    width:65%;
}

button{
    margin:1% 2% 0 0;
    border:none;
    background-color:#EFAF0F;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    padding:1.5% 3%;
    box-shadow:3px 3px #e27e30;
    font-weight:600;
}

button:hover{
    margin:1% 2% 0 0;
    border:none;
    background-color:#efd40f;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    padding:1.5% 3%;
    box-shadow:3px 3px #e27e30;
    font-weight:600;
}

/*********************************************************************************************/
/********************************   Heading styles  **********************************************/
/*********************************************************************************************/

h1{
    font-size:300%;
    font-weight: 700;
    margin: 2% 0;
}

h2{
    font-size:200%;
    font-weight: 700;
    margin-bottom:4%;
}

h3{
    font-size:93%;
    font-weight: 500;
    margin: 1% 0 0 0;
}

#eerste {
    margin: 2% 34% 2% 0;

}

p{
    font-size:90%;
    font-weight:400;
    margin: 2% 0;
    line-height: 1.5;
}

.oranje{color:#e27e1a; }
.rood{color:#b2382f;}
.groen{color:#25BA76;}

.balk{
    background: linear-gradient(to right,  #25BA76 15%,#EFAF0F 15%, #EFAF0F 100%);
    height:7px;
    width:95%;
    margin-bottom:10%;
}

.balk:hover{
    background: linear-gradient(to right,  #29e38e 15%,#efd40f 15%, #efd40f 100%);
}

.balkoranje{
    background: linear-gradient(to right,  #e27e1a 15%,#EFAF0F 15%, #EFAF0F 100%);
    height:7px;
    width:95%;
    margin-bottom:10%;
}

.balkoranje:hover{
    background: linear-gradient(to right,  #ff9331 15%,#efd40f 15%, #efd40f 100%);
}

.balkrood{
    background: linear-gradient(to right,  #b2382f 15%,#EFAF0F 15%, #EFAF0F 100%);
    height:7px;
    width:95%;
    margin-bottom:10%;
}

.balkrood:hover{
    background: linear-gradient(to right,  #d63834 15%,#efd40f 15%, #efd40f 100%);
}

#split{
    display:flex; flex-wrap:wrap; width:100%;
}

.balk1{
    width:5%;
    background-color: #EFAF0F;
    height:7px;
    margin-top:1%;
}
.balk2{
    margin-top:1%;
    width:20%;
    background-color: #EFAF0F;
    height:7px;
}

.balk2:hover{
    background-color: #efd40f;
}

.balk1:hover{
    background: linear-gradient(to right,  #29e38e 35%,#efd40f 35%, #efd40f 100%);
}

h3{ margin-top:0; padding:0 2%;}

#origineel{
    margin-top:5%;
}

#sticky{
    position:fixed;
    bottom:0;
    width:5%;
    z-index:100;
    right:0;
    margin-bottom:2%;
    margin-right:2%;
}

/*********************************************************************************************/
/********************************   SVG styles  **********************************************/
/*********************************************************************************************/
/* sticky */
    .st0st{fill:#E27E1A;}
    .st1st{fill:#EFAF0F;}
    .st1st:hover{fill:#fcc13d;}
    .st2st{fill:none;stroke:#E27E1A;stroke-width:50;stroke-miterlimit:10;}

/* 1e vlak */
    .st0{fill:none;}
    .st1{fill:#1D1D1B;}
    .st2{fill:#25BA76;}
    .st2:hover{fill:#29e38e;}
    .st3{fill:#B2382F;}
    .st3:hover{fill:#d43b30;}
    .st4{fill:#E27E1A;}
    .st4:hover{fill:#ff5722;}
    .st5{fill:#77432C;}
    .st5:hover{fill:#694332;}
    .st6{fill:#EFAF0F;}
    .st6:hover{fill:#efd40f;}
    .st7{fill:#FFFFFF;}
    .st8{fill:url(#SVGID_1_);}
    .st9{fill:url(#SVGID_2_);}
    .st10{fill:url(#SVGID_3_);}
    .st11{fill:url(#SVGID_4_);}
    .st12{fill:url(#SVGID_5_);}

/* 2e vlak */
    .st02{fill:#EFAF0F;}
    .st12{fill:#E27E1A;}
    .st22{fill:url(#SVGID_12_);}
    .st32{fill:url(#SVGID_22_);}
    .st42{fill:url(#SVGID_32_);}
    .st52{fill:url(#SVGID_42_);}
    .st62{fill:url(#SVGID_52_);}
    .st72{fill:url(#SVGID_62_);}
    .st82{fill:url(#SVGID_72_);}
    .st92{fill:url(#SVGID_82_);}
    .st102{fill:url(#SVGID_92_);}
    .st112{fill:url(#SVGID_102_);}
    .st122{fill:url(#SVGID_112_);}
    .st132{fill:url(#SVGID_122_);}
    .st142{fill:url(#SVGID_132_);}
    .st152{fill:#77432C;}
    .st162{display:inline;fill:#77432C;}

/* 3e vlak */
    .st03{fill:none;}
    .st13{fill:#1D1D1B;}
    .st23{fill:#B2382F;}
    .st33{fill:#77432C;}
    .st43{fill:url(#SVGID_13_);}
    .st53{fill:url(#SVGID_23_);}
    .st63{fill:#25BA76;}
    .st73{fill:#EFAF0F;}
    .st83{fill:url(#SVGID_33_);}
    .st93{fill:url(#SVGID_43_);}
    .st103{fill:url(#SVGID_53_);}
    .st113{fill:#E27E1A;}
    .st123{fill:url(#SVGID_63_);}

/* 4e vlak */
    .st04{fill:#EFAF0F;}
    .st14{fill:#E27E1A;}
    .st24{fill:#B2382F;}
    .st34{fill:url(#SVGID_14_);}
    .st44{fill:#77432C;}

/* 5e vlak */
    .st05{fill:#77432C;}
    .st15{fill:#25BA76;}
    .st25{fill:#23A35F;}
    .st35{fill:#E27E1A;}
    .st45{fill:#EFAF0F;}
    .st55{fill:#B2382F;}

/* 6e vlak */
    .st06{fill:none;}
    .st16{fill:#1D1D1B;}
    .st26{fill:#77432C;}
    .st36{fill:#E27E1A;}
    .st46{fill:#25BA76;}
    .st56{fill:#EFAF0F;}
    .st66{fill:#B2382F;}
    .st76{fill:url(#SVGID_16_);}

/* 7e vlak */
    .st07{fill:none;}
    .st17{fill:#1D1D1B;}
    .st27{fill:#77432C;}
    .st37{fill:#B2382F;}
    .st47{fill:#25BA76;}
    .st57{fill:#E27E1A;}
    .st67{fill:#EFAF0F;}
    .st77{fill:url(#SVGID_17_);}

/* 8e vlak */
    .st08{fill:#E27E1A;}
    .st18{fill:#EFAF0F;}
    .st28{fill:#25BA76;}
    .st38{fill:#B2382F;}

/* 9e vlak */
    .st09{fill:#77432C;}
    .st19{fill:#EFAF0F;}

    .outer {
    position: relative;
    }

   .innerlinks {
       position:absolute;
       width:200%;
       margin-left:-45%;
    }


    .innerrechts {
        position:absolute;
        width:200%;
    }

   .tekst1{
           width:100%;
    }
    .tekstr{
            margin:2% 5% 0% 0;
    }
    .tekstl{
            margin:1% 0 0% 5%;
    }

img{
    width:100%;
}
/*********************************************************************************************/
/**********************   KOLOMMEN SHIZZLE  **************************/
/*********************************************************************************************/
#wrapper{display:flex; flex-wrap:wrap; width:100%;}
.vlaktekst{
    width:45%;
    height:400px;
    margin-top:5%;
    margin-bottom:4%;
}

.vlakplaatje{
    width:50%;
    margin-top:5%;
    margin-bottom:4%;
    height:550px;
}

.vlakplaatjekick{
    width:50%;
    margin-top:5%;
    margin-bottom:4%;
    height:500px;
}

.vlakplaatjesok{
    width:45%;
    margin-top:0;
    margin-bottom:11%;
    height:450px;
}

.vlakplaatjehanden{
    width:45%;
    margin-top:7%;
    margin-bottom:4%;
    height:450px;
}

/*********************************************************************************************/
/**********************   THINGS THAT ARE ANIMATIE WHEN PAGE START  **************************/
/*********************************************************************************************/
#Hoofd7{
    animation: hoofd7 3s 0.5s both infinite;
}

#Lichaam2, #Hoofd2{
    animation: hoofd2 3s 1s both infinite;
}

#Hoofd5{
    animation: hoofd5 1.5s 1s both infinite;
}


#Hoofd6{
    animation: hoofd6 1s 1.5s both infinite;
}

#Hoofd1{
    animation: hoofd1 2s 2s both infinite;
}

#Hoofd4{
    animation: hoofd4 1s 0.5s both infinite;
}

#Arm4{
    animation: arm4 1s 1s both infinite;
}

#Arm2{
    animation: arm2 1s 1s both infinite;
}

#Hoofd3{
    animation: hoofd3 2s 2.5s both infinite;
}

#Hoofd8{
    animation: hoofd8 2s 2.5s both infinite;
}

#Arm7{
    animation: arm7 1.5s 1.5s both infinite;
}



/*********************************************************************************************/
/**********************   THINGS THAT ARE HIDDEN AT FIRST SIGHT  *****************************/
/*********************************************************************************************/
#beeld1{
    display:none;
}

#Vuil{
    opacity: 0;
}

/*********************************************************************************************/
/********************************   KEYFRAMES  **********************************************/
/*********************************************************************************************/

@-webkit-keyframes hoofd7 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
            transform: rotate(-1deg);
  }
  30% {
            transform: rotate(2deg);
  }
  45% {
            transform: rotate(-0.6deg);
  }
  60% {
            transform: rotate(1.4deg);
  }
  75% {
            transform: rotate(-0.2deg);
  }
}

@-webkit-keyframes hoofd8 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
            transform: rotate(0.5deg);
  }
  30% {
            transform: rotate(-0.5deg);
  }
  45% {
            transform: rotate(-0deg);
  }
  60% {
            transform: rotate(0.5deg);
  }
  75% {
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hoofd4 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
            transform: rotate(-0.5deg);
  }
  30% {
            transform: rotate(0deg);
  }
  45% {
            transform: rotate(0.2deg);
  }
  60% {
            transform: rotate(0deg);
  }
  75% {
            transform: rotate(0.2deg);
  }
}

@-webkit-keyframes arm4 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  25% {
            transform: rotate(0deg);
  }
  50% {
            transform: rotate(-0.5deg);
  }
  75% {
            transform: rotate(0deg);
  }
}

@-webkit-keyframes arm2 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  25% {
            transform: rotate(0.2deg);
  }
  50% {
            transform: rotate(0deg);
  }
  75% {
            transform: rotate(-0.5deg);
  }
}


@-webkit-keyframes arm7 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  25% {
            transform: rotate(-1deg);
  }
  50% {
            transform: rotate(-1.5deg);
  }
  75% {
            transform: rotate(-0.5deg);
  }
}

@-webkit-keyframes hoofd2 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  25% {
            transform: rotate(0deg);
  }
  50% {
            transform: rotate(0.5deg);
  }
  75% {
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hoofd5 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  25% {
            transform: rotate(0.1deg);
  }
  50% {
            transform: rotate(0.3deg);
  }
  75% {
            transform: rotate(0.1deg);
  }
}



@-webkit-keyframes hoofd6 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  20% {
            transform: rotate(0deg);
  }
  40% {
            transform: rotate(0.7deg);
  }
  60% {
            transform: rotate(0deg);
  }
  80% {
            transform: rotate(-0.7deg);
  }
}

@-webkit-keyframes hoofd1 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  20% {
            transform: rotate(0deg);
  }
  40% {
            transform: rotate(-0.4deg);
  }
  60% {
            transform: rotate(0deg);
  }
  80% {
            transform: rotate(-0.4deg);
  }
}

@-webkit-keyframes hoofd3 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  20% {
            transform: rotate(0deg);
  }
  40% {
            transform: rotate(0.2deg);
  }
  60% {
            transform: rotate(0deg);
  }
  80% {
            transform: rotate(0.2deg);
  }
}

/*********************************************************************************************/
/********************   KEYFRAMES WIE PLAY AFTER JAVASCRIPT  *********************************/
/*********************************************************************************************/

@-webkit-keyframes handani {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(300px) rotate(0deg);
  }
  30% {
            transform: translateX(20px) rotate(15deg);
  }
    50% {
            transform: translateX(20px) rotate(0deg);
  }
  70% {
            transform: translateX(20px) rotate(15deg);
  }
  100% {
            transform: translateX(300px) rotate(0deg);
  }
}

@-webkit-keyframes vuilani {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
          opacity: 0;
  }
  30% {
            opacity: 0;
  }
    50% {
            opacity: 1;
  }
  70% {
            opacity: 1;
  }
  100% {
            opacity: 1;
  }
}

@-webkit-keyframes manani {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
          opacity: 0;
  }
    50% {
            opacity: 1;
  }
  100% {
            opacity: 0;
  }
}

@-webkit-keyframes hand2 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(150px) rotate(0deg);
  }
  30% {
            transform: translateX(20px) rotate(15deg);
  }
    50% {
            transform: translateX(20px) rotate(0deg);
  }
  70% {
            transform: translateX(20px) rotate(15deg);
  }
  100% {
            transform: translateX(150px) rotate(0deg);
  }
}
@-webkit-keyframes pizza {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(0px) rotate(0deg);
  }
  30% {
            transform: translateX(5px) rotate(5deg);
  }
    50% {
            transform: translateX(5px) rotate(0deg);
  }
  70% {
            transform: translateX(5px) rotate(5deg);
  }
  100% {
            transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes voet {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(2deg);
  }
    50% {
            transform: rotate(0deg);
  }
  70% {
            transform: rotate(2deg);
  }
  100% {
            transform: rotate(0deg);
  }
}
@-webkit-keyframes hoofd {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  20% {
            transform: rotate(0deg);
  }
  40% {
            transform: rotate(0.5deg);
  }
  60% {
            transform: rotate(0deg);
  }
  80% {
            transform: rotate(-1.5deg);
  }
}
@-webkit-keyframes persoon1 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(0px);
  }
  30% {
            transform: translateX(25px);
  }
    50% {
            transform: translateX(0px);
  }
  70% {
            transform: translateX(0px);
  }
  100% {
            transform: translateX(0px);
  }
}
@-webkit-keyframes persoon2 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(0px);
  }
  30% {
            transform: translateX(-25px);
  }
    50% {
            transform: translateX(-25px);
  }
  70% {
            transform: translateX(-25px);
  }
  100% {
            transform: translateX(0px);
  }
}
@-webkit-keyframes been {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(10deg);
  }
    50% {
            transform: rotate(0deg);
  }
  70% {
            transform: rotate(10deg);
  }
  100% {
            transform: rotate(0deg);
  }
}
@-webkit-keyframes kickball {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: translateX(0px);
  }

    50% {
            transform: translateX(50px) translateY(-50px);
  }

  100% {
            transform: translateX(0px);
  }
}
@-webkit-keyframes vlag {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(-2deg);
  }
    50% {
            transform: rotate(0deg);
  }
  70% {
            transform: rotate(-2deg);
  }
  100% {
            transform: rotate(0deg);
  }
}
@-webkit-keyframes vlag2 {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(-3deg);
  }
    50% {
            transform: rotate(-1deg);
  }
  70% {
            transform: rotate(0deg);
  }
  100% {
            transform: rotate(0deg);
  }
}
@-webkit-keyframes handrechts {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(15deg);
  }
    50% {
            transform: rotate(0deg);
  }
  70% {
            transform: rotate(15deg);
  }
  100% {
            transform: rotate(0deg);
  }
}

@-webkit-keyframes handlinks {
  0%,
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  0% {
            transform: rotate(0deg);
  }
  30% {
            transform: rotate(-10deg);
  }
    50% {
            transform: rotate(0deg);
  }
  70% {
            transform: rotate(-10deg);
  }
  100% {
            transform: rotate(0deg);
  }
}

